<template>
  <v-container class="fill-height">
    <v-alert v-model="alert" dismissible type="error">{{
      msg.content
    }}</v-alert>
    <v-row class="fill-height">
      <!-- Input Column -->
      <v-col
        class="rounded-0"
        cols="12"
        xl="4"
        lg="4"
        md="4"
        sm="12"
        id="recInput"
        v-if="!isPrinted"
      >
        <v-sheet elevation="6">
          <div class="pa-4 text-center font-weight-bold">
            Enter Your Details Here
          </div>
          <v-expansion-panels>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Tenant Details</v-expansion-panel-header
              >
              <v-expansion-panel-content
                ><v-text-field
                  v-model="receipt.tenantName"
                  label="Tenant Name"
                  clearable
                  required
                ></v-text-field>
                <!-- <v-text-field
                  v-model="receipt.tenantEmail"
                  clearable
                  required
                  label="Tenant Email"
                ></v-text-field> -->
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>Owner Details</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-text-field
                  clearable
                  required
                  label="Owner's Name"
                  v-model="receipt.ownerName"
                ></v-text-field>
                <v-text-field
                  clearable
                  label="Owner's Pancard ID"
                  v-model="receipt.ownerPanID"
                ></v-text-field>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>Rent Details</v-expansion-panel-header>
              <v-expansion-panel-content class="pa-0">
                <v-text-field
                  clearable
                  required
                  label="Rent Amount"
                  v-model="receipt.monthlyRent"
                ></v-text-field>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Rented Property Address</v-expansion-panel-header
              >
              <v-expansion-panel-content>
                <v-textarea
                  v-model="receipt.rentAddress"
                  required
                  label="Address"
                >
                </v-textarea>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <div>
            <h3 class="my-4 text-center">From Month</h3>
            <v-date-picker dense v-model="receipt.start"></v-date-picker>
            <h3 class="my-4 text-center">To Month</h3>
            <v-date-picker dense v-model="receipt.end"></v-date-picker>
          </div>
          <div>
            <v-switch
              v-model="receipt.needStamp"
              label="Need Revenue Stamp Space ?"
            ></v-switch>
            <div>
              <v-btn color="success" class="ma-5" @click="getMonths()"
                >Generate Receipt</v-btn
              >
            </div>
          </div>
        </v-sheet>
      </v-col>
      <!-- Receipt Column -->
      <v-col
        class="fill-height recContainer rounded-0"
        cols="12"
        xl="8"
        lg="8"
        md="8"
        sm="12"
      >
        <div class="ma-0 pa-0" v-if="isPrinted">
          <v-btn color="success" class="ma-4 pa-0" @click="print()"
            >print</v-btn
          >
          <v-btn color="error" @click="isPrinted = false">Go Back</v-btn>
        </div>
        <v-card
          id="receipt-card"
          class="my-12 pa-4 receipt-card d-flex flex-column justify-space-between align-center"
          height="365"
          v-for="(month, i) in monthArr"
          :key="i"
        >
          <!-- Rent Date Block -->
          <v-container class="d-flex flex-row title-row">
            <v-container class="px-0">
              <div class="text-uppercase font-weight-bold">rent receipt</div>
              <div class="text-capitalize">{{ month.month }}</div>
            </v-container>
            <v-spacer></v-spacer>
            <v-container class="d-flex justify-end align-center"
              >Receipt: {{ i + 1 }}</v-container
            >
          </v-container>
          <!-- Text details Block -->
          <v-container>
            <p class="pr-12 mr-12 my-3">
              Received sum of
              <span class="font-weight-bold">{{
                receipt.monthlyRent | rentAmount
              }}</span>
              from
              <span class="font-weight-bold">{{ receipt.tenantName }}</span>
              towards the rent of property located at
              <span class="font-weight-bold">{{ receipt.rentAddress }}</span>
              for period of
              <span class="font-weight-bold"
                >From {{ month.startDay.toDateString() }} to
                {{ month.lastDay.toDateString() }}
              </span>
            </p>
          </v-container>
          <!-- Signature & Stamp Block -->
          <v-container class="d-flex flex-row justify-space-between px-0 pt-0">
            <v-container
              class=" d-flex flex-column justify-space-around align-start"
            >
              <div>signature</div>
              <div :class="[receipt.needStamp ? 'my-0' : 'my-2']">
                {{ receipt.ownerName }} (Landlord)
              </div>
              <div v-if="receipt.ownerPanID">
                {{ receipt.ownerPanID }} (Pan Number)
              </div>
            </v-container>
            <v-container>
              <v-spacer></v-spacer>
              <div
                v-if="receipt.needStamp"
                class="stamp-container  ml-auto mr-8 text-center d-flex justify-center align-center"
              >
                Revenue Stamp
              </div>
            </v-container>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  title: "Rent Receipt",
  data() {
    return {
      receipt: {
        tenantName: "Sanket Gaikwad",
        ownerName: "Suresh Gaikwad",
        ownerPanID: "AXXXX0000X",
        rentAddress: "Airoli, Navi Mumbai",
        monthlyRent: 15000,
        start: "",
        end: "",
        needStamp: true
      },
      monthArr: [],
      isPrinted: false,
      alert: false,
      msg: {
        variant: "",
        content: ""
      }
    };
  },
  computed: {
    startDate() {
      return new Date(this.receipt.start);
    },
    endDate() {
      return new Date(this.receipt.end);
    }
  },
  filters: {
    rentAmount(amt) {
      const fmt = new Intl.NumberFormat("en-IN", {
        style: "currency",
        currency: "INR",
        minimumFractionDigits: 2
      });
      return fmt.format(amt);
    }
  },
  methods: {
    getMonths() {
      if (this.startDate < this.endDate) {
        let startYear = parseInt(this.startDate.getFullYear());
        let endYear = parseInt(this.endDate.getFullYear());
        let sDate = parseInt(this.startDate.getDate());
        for (var i = startYear; i <= endYear; i++) {
          for (
            var j = i == startYear ? this.startDate.getMonth() : 0;
            j < 12;
            j++
          ) {
            let day = new Date(i, j);
            let monthObj = {};
            monthObj.month = this.monthFormat(day);
            monthObj.startDay = new Date(i, j, sDate);
            monthObj.lastDay = new Date(i, j + 1, sDate - 1);
            this.monthArr.push(monthObj);
          }
        }
        let cyclicEndDate = parseInt(this.startDate.getDate()) - 1;
        let actualEndDate = parseInt(this.endDate.getDate());
        let endString = this.monthFormat(this.endDate);
        var findIndex = 0;
        this.monthArr.some((obj, index) => {
          if (obj.month === endString) {
            findIndex = index;
            return true;
          }
        });
        if (actualEndDate > cyclicEndDate) this.monthArr.splice(findIndex + 1);
        else this.monthArr.splice(findIndex);
        this.isPrinted = true;
      } else {
        this.alert = true;
        this.msg.variant = "error";
        this.msg.content = "! Start Date should always be less than Last Date.";
        this.receipt.start = "";
        this.receipt.end = "";
      }
    },
    monthFormat(day = new Date()) {
      const months = {
        0: "January",
        1: "February",
        2: "March",
        3: "April",
        4: "May",
        5: "June",
        6: "July",
        7: "August",
        8: "September",
        9: "October",
        10: "November",
        11: "December"
      };
      let month = day.getMonth();
      let year = day.getFullYear();
      return `${months[month]} ${year}`;
    },
    print() {
      window.print();
    }
  },
  watch: {
    startDate(newVal) {
      if (newVal) {
        this.monthArr = [];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.title-row {
  width: 100%;
}
.stamp-container {
  height: 100px;
  width: 100px;
  border: 2px dashed grey;
  border-radius: 5%;
}
#receipt-card {
  border: 1px solid black;
}
@media print {
  body * {
    visibility: hidden;
  }
  #receipt-card {
    visibility: visible;
    border: 1px solid black;
    page-break-inside: avoid;
  }
  #receipt-card * {
    visibility: visible;
  }
}
.v-picker {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #receipt-card {
    height: fit-content !important;
  }
}
</style>
