<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-btn text href="/">Receipt App</v-btn>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main><rentReceipt /> </v-main>
    <v-footer app>
      <v-spacer></v-spacer>
      Copyright © 2021
      <v-spacer></v-spacer>
      <div class="font-weight-bold text-h5 success--text text-center">
        We Do Not Store Data
      </div></v-footer
    >
  </v-app>
</template>

<script>
import rentReceipt from "@/components/rentReceipt.vue";
export default {
  name: "App",
  components: {
    rentReceipt
  },
  data: () => ({
    //
  })
};
</script>

<style scoped>
@media print {
  header,
  footer {
    visibility: hidden;
  }
}

@page {
  margin-top: 2cm;
  margin-bottom: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
}
</style>
